In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import acquire
import prepare as p

In [2]:
df = acquire.get_titanic_data()

In [3]:
train, validate, test = p.prep_titanic_data(df)

/Users/Heather/codeup-data-science/classification-exercises/prepare.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['embark_town'] = imputer.transform(test[['embark_town']])

In [4]:
# testing new prepare functions
X_cols = ['pclass', 'sex_male', 'sibsp']
y_col = 'survived'
X_train, y_train, X_validate, y_validate, X_test, y_test = p.all_aboard_the_X_train(X_cols, y_col, train, validate, test)

In [5]:
knn4 = KNeighborsClassifier(n_neighbors=2)
knn4.fit(X_train, y_train)
knn4.score(X_train, y_train), knn4.score(X_validate, y_validate)

(0.8012048192771084, 0.7570093457943925)

In [6]:
p.run_metrics2(knn4, 'train', X_cols, y_col, train, validate, test)

train data set accuracy score: 80.12%
-------------------------------
classification report
              precision    recall  f1-score   support

           0       0.76      0.99      0.86       307
           1       0.97      0.50      0.66       191

    accuracy                           0.80       498
   macro avg       0.86      0.74      0.76       498
weighted avg       0.84      0.80      0.78       498

-------------------------------

confusion matrix
[[304   3]
 [ 96  95]]

train data set model metrics
---------------------------------
True positive rate for the model is 49.74%
False positive rate for the model is  0.98%
True negative rate for the model is 99.02%
False negative rate for the model is 50.26%
---------------------------------
train data set accuracy score: 80.12%
train data set precision score 96.94%
train data set recall score: 49.74%

     pclass  sex_male  sibsp
474       3         0      0
370       1         1      1
573       3         0      0
110       1         1      0
167       3         0      1
..      ...       ...    ...
735       3         1      0
163       3         1      0
770       3         1      0
196       3         1      0
94        3         1      0

[498 rows x 3 columns]